.mainDiv-all-sideBar{
 display: flex;
 height: 100vh; 
}
.orders {
    padding: 20px;
  }
  
  .order-list {
    display: flex;
    flex-direction: column;
  }
  
  .order-item {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .dashboard {
    
    display: flex;
    justify-content: space-between;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .stat-box {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .reviews {
    margin-top: 20px;
  }
  
  .review-item {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .review-item p {
    margin: 5px 0;
  }
  .div-sidebar{
    width: 15%;
    background-color: #f1f2fd;
  }
  .div-Dashbaord{
    width: 85%;
    background-color: #f1f2fd;
    padding: 13px 0px 0px 16px;
  }
  .h1-all-heading{
    font-family: General Sans!important;
    font-size: 1.4em;
    font-weight: 450;
  }