  
  .active-link {
    color: red;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logo {
    display: block;
    padding: 0.5em 1.3em;
    text-align: center;
  }
  .navbar-sidebar{
    padding-left: 1.3em;
    padding-top: 1em;
  }
  
  @media (max-width: 768px) {
    .app {
      flex-direction: column;
    }
  
    .sidebar {
      width: 70%;
      height: 100%;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 1000;
      background-color: #f0f0f0;
      transition: left 0.3s ease;
    }
  
    .sidebar.open {
      left: 0;
    }
  
    .content {
      width: 100%;
    }
  
    .menu-icon {
      display: block;
    }
  
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  
    .overlay.open {
      display: block;
    }
  }
  